<!doctype html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
  data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template" data-style="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Tree List | Materio</title>
  <meta name="description" content="Tree Management" />

  <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/vendor/fonts/remixicon/remixicon.css" />
  <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />
  <link rel="stylesheet" href="/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <script src="/assets/vendor/js/helpers.js"></script>
  <script src="/assets/vendor/js/template-customizer.js"></script>
  <script src="/assets/js/config.js"></script>
</head>
<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
          <a href="/" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-semibold ms-2">TreeShop</span>
          </a>
        </div>
        <div class="menu-inner-shadow"></div>
        <ul class="menu-inner py-1">
          <li class="menu-item active">
            <a href="/" class="menu-link">
              <i class="menu-icon tf-icons ri-home-smile-line"></i>
              <div>Dashboard</div>
            </a>
          </li>
        </ul>
      </aside>

      <div class="layout-page">
        <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme">
          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <h5 class="mb-0">Materio UI Playground</h5>
          </div>
        </nav>

        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <% if (error) { %>
              <div class="alert alert-warning mb-4"><%= error %></div>
            <% } %>

            <div class="card mb-6">
              <h5 class="card-header">Add Tree</h5>
              <div class="card-body">
                <form action="/trees" method="POST">
                  <div class="row g-4">
                    <div class="col-md-4">
                      <label class="form-label">Name</label>
                      <input class="form-control" type="text" name="name" placeholder="Tree Name">
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Description</label>
                      <input class="form-control" type="text" name="description" placeholder="Description">
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Image filename</label>
                      <input class="form-control" type="text" name="image" placeholder="tree.png">
                    </div>
                  </div>
                  <div class="mt-4 d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="submit" formaction="/reset" class="btn btn-outline-danger">Reset All</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">Tree List</h5>
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Tree Name</th>
                      <th>Description</th>
                      <th>Image</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <tr>
                      <td><i class="ri-suitcase-2-line ri-22px text-danger me-4"></i><span>Tours Project</span></td>
                      <td>Albert Cook</td>
                      <td>
                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                          <li class="avatar avatar-xs pull-up"><img src="/assets/img/avatars/5.png" alt="Avatar" class="rounded-circle"></li>
                          <li class="avatar avatar-xs pull-up"><img src="/assets/img/avatars/6.png" alt="Avatar" class="rounded-circle"></li>
                          <li class="avatar avatar-xs pull-up"><img src="/assets/img/avatars/7.png" alt="Avatar" class="rounded-circle"></li>
                        </ul>
                      </td>
                      <td><span class="badge rounded-pill bg-label-primary me-1">Active</span></td>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-pencil-line me-1"></i> Edit</a>
                            <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-1"></i> Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% if (trees && trees.length > 0) { %>
                      <% trees.forEach(tree => { %>
                        <tr>
                          <td><i class="ri-leaf-fill ri-22px text-success me-4"></i><span><%= tree.name %></span></td>
                          <td>Local Data</td>
                          <td>-</td>
                          <td><span class="badge rounded-pill bg-label-success me-1">Saved</span></td>
                          <td>-</td>
                        </tr>
                      <% }) %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
    <div class="drag-target"></div>
  </div>

  <script src="/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/assets/vendor/libs/popper/popper.js"></script>
  <script src="/assets/vendor/js/bootstrap.js"></script>
  <script src="/assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="/assets/vendor/js/menu.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>